body{
    background-color: red;
}

h1{
    text-align: center;
    margin-top: 50px;
}

img{
    margin-top: 20px;
}

.button-form{
    float: right;
    margin-right: 200px;
    margin-top: 50px;
}

.butt {
    background-color: red;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.butt:focus {
    outline: 0;
}