body {
    background-color: forestgreen;
}

.welcome {
    text-align: center;
}

.general {
    margin-left: 250px;
    margin-top: 100px;
}

.input-block {
    float: left;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 20px 20px 20px;
    margin-left: 50px;
}

.or {
    float: left;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 42pt;
}

.input-file {
    float: left;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 20px 20px 20px;
    margin-left: 80px;
}

.input-field {
    width: 100px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    border: none;
    outline: 0;
}

.butt {
    background-color: forestgreen;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.butt:focus {
    outline: 0;
}