body {
    background-color: forestgreen;
}

h2 {
    padding-left: 20px;
}

h3 {
    padding-left: 40px;
}

table {
    border: 0px;
    border-style: solid;
    border-color: black;
    border-spacing: 0px;
}

td {
    width: 100px;
    hight: 50px;
    padding: 5px 10px 5px 10px;
    border: 1px solid black;
    collapse: 0px;
}

canvas{
    margin-left: 40px;
    border-radius: 10px;
}

.points {
    width: 350px;
    float: right;
    margin-right: 100px;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.button-form{
    margin-left: 730px;
    margin-top: 20px;
}

.butt {
    background-color: forestgreen;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.butt:focus {
    outline: 0;
}