<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/result-style.css">
    <title>Result Validation</title>
</head>
<body>
<h1 style="text-align: center">Success!!!</h1><br>
<h3>Floor plan</h3>
<canvas id="myCanvas" width="800" height="400" style="border:1px solid #d3d3d3;">Your browser does not support the
    canvas element.
</canvas>

<div class="points">
    <h2>Points:</h2>
    <table>
    <tr>
        <td>Point</td>
        <td>X</td>
        <td>Y</td>
    </tr>
    <tr th:each="point: ${points}">
        <td th:text="${pointStat.index+1}">
        <td th:text="${point.x}">
        <td th:text="${point.y}">
    </tr>
    </table>
</div>

<script th:inline="javascript">
    var points = /*[[${points}]]*/ [];
    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");
    for (var i = 0; i < points.length - 1; i++) {
        ctx.moveTo((50 + points[i].x) * 2, (100 - points[i].y) * 2);
        ctx.lineTo((50 + points[i + 1].x) * 2, (100 - points[i + 1].y) * 2);
        ctx.stroke();
    }
    ctx.moveTo((50 + points[points.length - 1].x) * 2, (100 - points[points.length - 1].y) * 2);
    ctx.lineTo((50 + points[0].x)*2, (100 - points[0].y) * 2);
    ctx.stroke();
</script>

<div class="button-form">
    <form method="post" action="/home">
        <input class="butt" type="submit" value="Go home">
    </form>
</div>
</body>
</html>
